/*Green Color Style
======================================
*/

.inkleadsform{
    background: #cd5dc9;
}

.inkleadsform .signinForm ul.inkleadsul li textarea,
.inkleadsform .signinForm ul.inkleadsul li input[type="text"],
.inkleadsform .signinForm ul.inkleadsul li input[type="number"],
.inkleadsform .signinForm ul.inkleadsul li input[type="email"]{
    background: #b544b1;
    border: solid 1px #e06cdc;
}

.inkleadsform h2.heading{
    border-bottom: solid 1px #ac41a8;
}
.inkleadsform .signinForm ul.inkleadsul li input[type="submit"]{
	background-color: #3A3A3A;
}
.inkleadsform .signinForm ul.inkleadsul li input[type="submit"]:hover{
	background-color: #4E4E4E;
}